
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: black;
    color: white;
}

.nav{
    display: flex;
    gap: 20px;
}

.nav a{
    color: white;
    text-decoration: none;
}

.nav a:hover{
    color: orange;
}

.sec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: whitesmoke;
    text-align: center;
}

.d h2{
    font-size: 35px;
}

.d button{
    margin-top: 15px;
    padding: 10px 25px;
    background: orange;
    border: none;
    cursor: pointer;
}


.sec2{
    padding: 40px;
    text-align: center;
}

.products{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card{
    width: 220px;
    border: 1px solid whitesmoke;
    padding: 15px;
}

.card img{
   
    width: 150px;  
    height: auto;
    margin: 0 auto;
    display: block;
    
}

.card p{
    padding: 5px;
}

.card button{
    margin-top: 5px;
}

@media (max-width: 768px) {


    .header{
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .nav{
        flex-direction: column;
        gap: 10px;
    }

   
    .sec{
        height: auto;
        padding: 40px 20px;
    }

    .d h2{
        font-size: 24px;
    }

  
    .products{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 90%;
    }

   
    .card img{
        width: 120px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    height: 60px;
  
}
